In [7]:
import pandas as pd

In [10]:
#Reading from an Excel sheet
df = pd.read_excel("C:\\Users\\tirumaleswarasai.t\\Desktop\\Vaibhav\\JC_MAIN_EAST.xlsx","Sheet1")
df

,Sr. No.,Site Name / DVR Name,DVR Model,IP Address,Username,Password,No. of Channels,Camera 01,Camera 02,Camera 03,...,Camera 07,Camera 08,Camera 09,Camera 10,Camera 11,Camera 12,Camera 13,Camera 14,Camera 15,Camera 16
0,NaN,AC_JC_PAAT_01_Pasighat,DS-7208HFI-SH/A,10.84.227.25,admin,Abc_1234,8,INNEPAATPAATNB0001JCOCAM001_Reception Area,INNEPAATPAATNB0001JCOCAM002_STORE OUTDOOR,INNEPAATPAATNB0001JCOCAM003_STORE COUNTER,...,INNEPAATPAATNB0001JCOCAM007_LOCKER,INNEPAATPAATNB0001JCOCAM008_Office Area 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AC_JC_ITNR_01_Chandan Nagar,DS-7208HFI-SH/A,10.84.192.25,admin,Abc_1234,6,INNEITNRCHDNNB0001JCOCAM001_Reception,INNEITNRCHDNNB0001JCOCAM002_Counter,INNEITNRCHDNNB0001JCOCAM003_JIO Entry,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,AS_GUW_JO_DC_Amin_JI14_D1,DS-7608NI-E2,10.124.1.45,admin,Abc_1234,8,INASNGHTAMGNNB0001SDCCAM001_Unloading Area,INASNGHTAMGNNB0001SDCCAM002_Staff Entry,INASNGHTAMGNNB0001SDCCAM003_Office Corridoor,...,INASNGHTAMGNNB0001SDCCAM007_OD Dock 2,INASNGHTAMGNNB0001SDCCAM008_CAF Area 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AS_JC_NKMP_01_North Lakhimpur,DS-7208HFI-SH/A,10.84.211.25,admin,Abc_1234,7,INASNKMPMDMINB0001JCOCAM001_Reception Area,INASNKMPMDMINB0001JCOCAM002_Store Counter,INASNKMPMDMINB0001JCOCAM003_Store Entry,...,INASNKMPMDMINB0001JCOCAM007_Locker Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,AS_JC_SLCR_01_Silchar,DS-7208HFI-SH/A,10.84.208.25,admin,Abc_1234,7,INASSLCRBRBLNB0002JCOCAM001_Main ENT,INASSLCRBRBLNB0002JCOCAM002_Store Counter,INASSLCRBRBLNB0002JCOCAM003_Store ENT,...,INASSLCRBRBLNB0002JCOCAM007_Training Room,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,NaN,WB_JC_KLAG_01_KOLHAGHAT,DS-7208HFI-SH/A,10.84.62.25,admin,WB@123@JC,4,INWBMCDAMCDANB0001JCOCAM001_Reception,INWBMCDAMCDANB0001JCOCAM002_STORE ENTRY,INWBMCDAMCDANB0001JCOCAM003_Access Door,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,WB_JC_KLKT_08_Sealdah,DS-7208HFI-SH/A,10.84.7.25,admin,WB@123@JC,8,INKOKLKTSLDHNB0001JCOCAM001_Outdoor,INKOKLKTSLDHNB0001JCOCAM002_Reception,INKOKLKTSLDHNB0001JCOCAM003_Store Entry,...,INKOKLKTSLDHNB0001JCOCAM007_Commercial,INKOKLKTSLDHNB0001JCOCAM008_Contact Center,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,WB_JC_KLKT_09_ Agrawal House,DS-7208HFI-SH/A,10.84.8.25,admin,WB@123@JC,8,INKOKLKTWTGJNB0003JCOCAM001_Reception,INKOKLKTWTGJNB0003JCOCAM002_Store Entry,INKOKLKTWTGJNB0003JCOCAM003_Counter,...,INKOKLKTWTGJNB0003JCOCAM007_Contact Center,INKOKLKTWTGJNB0003JCOCAM008_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,WB_JC_KLKT_10_Dargah Road,DS-7208HFI-SH/A,10.84.9.25,admin,WB@123@JC,8,INKOKLKTPRKCNB0004JCOCAM001_Reciption Area,INKOKLKTPRKCNB0004JCOCAM002_Locker Area,INKOKLKTPRKCNB0004JCOCAM003_Storage Entry,...,INKOKLKTPRKCNB0004JCOCAM007_Commercial Area,INKOKLKTPRKCNB0004JCOCAM008_Contact Center,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,JIO Center,DS-7208HFI-SH/A,10.85.160.25,admin,GJ@123@JC,7,INGJKADIRJCTNB0001JCOCAM001_Storage Entry,INGJKADIRJCTNB0001JCOCAM002_Reception area,INGJKADIRJCTNB0001JCOCAM003_Back Office Area,...,INGJKADIRJCTNB0001JCOCAM007_Passage Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#third way to create a DF through a python dictionary
#here keys are the columns and values are rows
weather_data = {
'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
'temperature': [32, 35, 28],
'windspeed': [6,7,2],
'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [14]:
# way 4 (python tuple list)
weather_data = [
('1/1/2017', 32, 6, 'Rain'),
('1/2/2017', 35, 7, 'Sunny'),
('1/3/2017', 28, 2, 'Snow')
]
df = pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [15]:
# way 5 (python dictionary list)
weather_data = [
{'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
{'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
{'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}
]
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow