<a href="https://colab.research.google.com/github/saided/pandas_using_python/blob/master/Lists_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exception in python

In [6]:
def input_float(prompt):
  """Conversion of input into a float"""
  user_input = input(prompt)
  try:
    output = 1 / float(user_input)
  except ValueError:
    print('Enter a number not a string!!')
    output  = None
  except ZeroDivisionError:
    print("Dont enter zero as its value is infinite!!!")
    output  = None
  return output

print(input_float('Enter number :'))

Enter number :0
Dont enter zero as its value is infinite!!!
None

In [0]:
# Exception is an event which occurs during the execution of the program,that disrupts the normal flow of the program instructions
# Exception handling is process of responding to the occurrence during computation of exceptional conditions requiring special processing

In [2]:
lst1 = ['one','two','three']
lst2 = ['four','five']
for x in lst2:
  lst1.append(x)
print(lst1)
lst1.extend(lst2)
print(lst1)

['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four', 'five', 'four', 'five']

In [8]:
#print(lst1)
#del lst1[5]
print(lst1)
#a = lst1.pop()
a = lst1.pop(1)
print(a)

['one', 'two', 'three']
two

In [16]:
 s = 'one,two,three,four,five'
 slist = s.split(',')
 print(slist)
 s2 = [1,5,3,2,9.4]
 print(sorted(s2))
 print(sorted(s2,reverse=True))
 print(s2.count(5))
 print(slist+s2)

['one', 'two', 'three', 'four', 'five']
[1, 2, 3, 5, 9.4]
[9.4, 5, 3, 2, 1]
1
['one', 'two', 'three', 'four', 'five', 1, 5, 3, 2, 9.4]

In [18]:
squares = [i**2 for i in range(10)]
print(squares)
doubles = [i*2 for i in range(10)]
print(doubles)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#Transpose of a Matrix

In [35]:
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(A)
transposed = []
for i in  range(3):
  list=[]
  for row in A:
    print('The row we are considering is :',row)
    print('the element we are considering is :',row[i])
    list.append(row[i])
    print(list)
  transposed.append(list)
  print(transposed)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
The row we are considering is : [1, 2, 3]
the element we are considering is : 1
[1]
The row we are considering is : [4, 5, 6]
the element we are considering is : 4
[1, 4]
The row we are considering is : [7, 8, 9]
the element we are considering is : 7
[1, 4, 7]
[[1, 4, 7]]
The row we are considering is : [1, 2, 3]
the element we are considering is : 2
[2]
The row we are considering is : [4, 5, 6]
the element we are considering is : 5
[2, 5]
The row we are considering is : [7, 8, 9]
the element we are considering is : 8
[2, 5, 8]
[[1, 4, 7], [2, 5, 8]]
The row we are considering is : [1, 2, 3]
the element we are considering is : 3
[3]
The row we are considering is : [4, 5, 6]
the element we are considering is : 6
[3, 6]
The row we are considering is : [7, 8, 9]
the element we are considering is : 9
[3, 6, 9]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [41]:
mat = [[1,2,3],[4,5,6]]
#for i in range(3):
for r in mat:
    for i in range(3):
      print(r[i])

1
2
3
4
5
6