<a href="https://colab.research.google.com/github/saided/pandas_using_python/blob/master/problems_on_python_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
t=(1,2,3)
l = list(t)
print(l)
a = 'amoeba'
print(a+1)

[1, 2, 3]

TypeError: ignored

In [8]:
fruit = {"apple": 5, "mango":7, "peach":8, "berry":10}
a = fruit.get('orange')
b = (1,2,3) + (2,2,2)
print(id(b))
print(b)
print(id(b))

140540959926408
(1, 2, 3, 2, 2, 2)
140540959926408

In [29]:
b= (1,2,3)
c = (3,4,5)
d = b+c
print(id(d))
#print(d+(5,6,7))
d = d+(5,6,7)
print(id(d))

#print(list(b)+list(c))
print(id(b),id(c),id(d))
#b.append(c)
#print(b)

140540959926312
140540960384848
140540950247464 140540950273120 140540960384848

In [0]:
l=[1]
for i in range(10):
  l+=list(i)

# Problem 1

In [43]:
import random
l=[]
r = 
while len(l)<10:
  x = random.randint(-6,7)
  y = random.randint(-6,7)
  if x**2 + y**2 == r**2:
    a = (x,y)
    print(a)
    l.append(a)
  
print(l)
#print(l[5][1])
#for x in range(-6,7):
  #print(x)

(0, -1)
(1, 0)
(-1, 0)
(0, 1)
(0, -1)
(1, 0)
(0, -1)
(1, 0)
(0, -1)
(1, 0)
[(0, -1), (1, 0), (-1, 0), (0, 1), (0, -1), (1, 0), (0, -1), (1, 0), (0, -1), (1, 0)]

# Problem 2

In [46]:
data = [('Sumit', 183), ('Rahul', 175), ('Kritika', 170), ('Harshit', 177), ('Deepak', 162)]
dict={}
#dict[name]=height
for x in data:
  dict[x[0]]=x[1]
print(dict)
print(dict['Deepak'])

{'Sumit': 183, 'Rahul': 175, 'Kritika': 170, 'Harshit': 177, 'Deepak': 162}
162

#Problem 3

In [63]:
import random
input=[]
while len(input)<20:
  input.append(random.randint(1,10))
print(input)
s = set(input)
#print(s)
output = list(s)
print(output)

[6, 8, 10, 8, 1, 3, 8, 1, 8, 10, 9, 10, 9, 3, 7, 5, 8, 7, 9, 1]
[1, 3, 5, 6, 7, 8, 9, 10]

# Problem 4

In [236]:
def gen_dict(n):
  dict={}
  for x in range(0,n+1):
    if x**2 < n:
      dict[x]=x**2
  return dict
print(gen_dict(8))

{0: 0, 1: 1, 2: 4}

# Problem 5

In [73]:
def uni_val(dict):

  val = dict.values()
  print(list(set(val)))

uni_val({'a':1, 'b':2, 'c':1, 'd':1, 'e':2, 'f':3, 'g':4, 'h':3, 'i':4})

[1, 2, 3, 4]

# Problem 6

In [237]:
#differentiation principle
#dy/dx = ((f(x)+dx)-f(x))/dx
def func(x):
  return x**2+2*x
def slope(func,xa):
  f = func(xa)
  dx = 0.0000001
  f1 = func(xa+dx)
  print(f1)
  d = (f1-(f))/dx
  print(d)

slope(func,2)

8.000000600000009
6.000000087880153

In [108]:
import random
def slope(f):
  #x = x+dx
  y = lambda x ,dx: (((x+dx)**2 + x+dx) - (f))/dx
#dx = random.random(0,0.0001)
  print(int(y(2,random.uniform(0,0.00001))))

slope(x**2+x)

5

In [115]:
f1 = lambda y : y**3 + 2*y
#y = y+2
f1(2+dy)

NameError: ignored

# Problem 7

In [238]:
def factorial(n):
  f = 1
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
def func(n,a):
  l=[]
  sum = 0
  for i in range(n+1):
    sum+= (a**i)/(factorial(i))
    l.append(sum)
  t = tuple(l)
  return t

func(30,7)

(1.0,
 8.0,
 32.5,
 89.66666666666666,
 189.70833333333331,
 329.76666666666665,
 493.16805555555555,
 656.5694444444445,
 799.5456597222222,
 910.7493827160494,
 988.5919888117284,
 1038.1281926907968,
 1067.0243116202535,
 1082.5837602745762,
 1090.3634846017376,
 1093.9940226210795,
 1095.5823830045415,
 1096.236413750673,
 1096.4907590408352,
 1096.5844652003686,
 1096.6172623562054,
 1096.6281947414843,
 1096.6316732277094,
 1096.63273189743,
 1096.6330406760985,
 1096.6331271341257,
 1096.6331504112868,
 1096.6331564461063,
 1096.6331579548112,
 1096.6331583189813,
 1096.6331584039542)

In [122]:
l =[1,2,3,4,5]
t = tuple(l)
print(t)

(1, 2, 3, 4, 5)

# Problem 8

In [137]:
def stu(dict):
  A = [1]
  b=0.99
  for key in dict:
    if key == 'Marks':
      #αi=βαi−1+(1−β)ai  
      l = dict[key]
      #print(l)
      for i in range(0,10):
        #print(A[i-1],l[i])
        a= b * A[i] + (1-b)*l[i]
        A.append(a)
      print(A[1:])


dict = {
    'Name':'sai',
    'Marks': [10,20,30,40,50,60,70,80,90,100]
}
stu(dict)

[1.09, 1.2791000000000003, 1.5663090000000006, 1.9506459100000009, 2.4311394509000013, 3.0068280563910017, 3.6767597758270925, 4.439992178068822, 5.295592256288135, 6.242636333725255]

# Problem 9

In [247]:
def fibonacci(n):
  f=[]
  a=0
  b=1
  for i in range(n+1):
    c=a+b
    f.append(a)
    a=b
    b=c
  return f

def prime (n):
  p=[]
  for i in range(2,n+1):
      for j in range(2,i):
        if i%j == 0:
           break
      else:
          p.append(i)
        
  return p

def square(n):
  s=[]
  for i in  range(1,n+1):
    s.append(i**2)
  return s

def cd(n):
  dict={}
  f= fibonacci(n)
  p = prime(n)
  s = square(n)
  for k in range(1,n+1):
    dict[k]=[]
    if k in f:
      dict[k].append('Fibonacci')
    if k in p:
      dict[k].append('Prime')
    if k in s:
      dict[k].append('Square')

  return dict


def new(d, str):
  #li = list(d.values())
  #print(li)
  num=[]
  for i in d.items():
    #print(i[1])
    if str in i[1]:
      num.append(i[0])
  print(num)

d = cd(100)
#print(d)
new(d,'Square')
new(d,'Prime')
new(d,'Fibonacci')

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [204]:
d = {1: ['Fibonacci', 'Square'], 6: [],13: ['Prime', 'Fibonacci']}
if d[6][0] == '':
  print('cfvjn')

IndexError: ignored

Problem 10

In [232]:
f = open('data.txt','r')
lines = f.readlines()
print(lines)
rep = ['-','.']
for line in lines:
  for s in rep:
    l = line.replace(s,'')
  print(l)

words = l.split()
print(words)
w=[]
for i in range(len(words)):
    if i%10 ==0:
      print(words[i])
      a = words[i]
      w.append(a[0])
print(w)

with open('File_1.txt','w') as f_out:
  for i in w:
    f_out.writelines(i + '\n')

['Data science is an inter-disciplinary field that uses scientific methods processes algorithms and systems to extract knowledge and insights from structured and unstructured data Data science is related to data mining and big data. Data science is a concept to unify statistics data analysis machine learning and their related methods in order to understand and analyze actual phenomena with data It employs techniques and theories drawn from many fields within the context of mathematics statistics computer science and information science Turing award winner Jim Gray imagined data science as a fourth paradigm of science empirical theoretical computational and now data driven and asserted that everything about science is changing because of the impact of information technology and the data deluge In 2015 the American Statistical Association identified database management statistics and machine learning and distributed and parallel systems as the three emerging foundational professional communities']
Data science is an inter-disciplinary field that uses scientific methods processes algorithms and systems to extract knowledge and insights from structured and unstructured data Data science is related to data mining and big data Data science is a concept to unify statistics data analysis machine learning and their related methods in order to understand and analyze actual phenomena with data It employs techniques and theories drawn from many fields within the context of mathematics statistics computer science and information science Turing award winner Jim Gray imagined data science as a fourth paradigm of science empirical theoretical computational and now data driven and asserted that everything about science is changing because of the impact of information technology and the data deluge In 2015 the American Statistical Association identified database management statistics and machine learning and distributed and parallel systems as the three emerging foundational professional communities
['Data', 'science', 'is', 'an', 'inter-disciplinary', 'field', 'that', 'uses', 'scientific', 'methods', 'processes', 'algorithms', 'and', 'systems', 'to', 'extract', 'knowledge', 'and', 'insights', 'from', 'structured', 'and', 'unstructured', 'data', 'Data', 'science', 'is', 'related', 'to', 'data', 'mining', 'and', 'big', 'data', 'Data', 'science', 'is', 'a', 'concept', 'to', 'unify', 'statistics', 'data', 'analysis', 'machine', 'learning', 'and', 'their', 'related', 'methods', 'in', 'order', 'to', 'understand', 'and', 'analyze', 'actual', 'phenomena', 'with', 'data', 'It', 'employs', 'techniques', 'and', 'theories', 'drawn', 'from', 'many', 'fields', 'within', 'the', 'context', 'of', 'mathematics', 'statistics', 'computer', 'science', 'and', 'information', 'science', 'Turing', 'award', 'winner', 'Jim', 'Gray', 'imagined', 'data', 'science', 'as', 'a', 'fourth', 'paradigm', 'of', 'science', 'empirical', 'theoretical', 'computational', 'and', 'now', 'data', 'driven', 'and', 'asserted', 'that', 'everything', 'about', 'science', 'is', 'changing', 'because', 'of', 'the', 'impact', 'of', 'information', 'technology', 'and', 'the', 'data', 'deluge', 'In', '2015', 'the', 'American', 'Statistical', 'Association', 'identified', 'database', 'management', 'statistics', 'and', 'machine', 'learning', 'and', 'distributed', 'and', 'parallel', 'systems', 'as', 'the', 'three', 'emerging', 'foundational', 'professional', 'communities']
Data
processes
structured
mining
unify
in
It
the
Turing
fourth
driven
of
In
and
three
['D', 'p', 's', 'm', 'u', 'i', 'I', 't', 'T', 'f', 'd', 'o', 'I', 'a', 't']